html, body {
    background-color: #181818;
    color: #eee;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

a {
    color: #999;
    text-decoration: none;
}

/* Layout */
#base-container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.base-container-helper {
    margin: 80px 0 80px 0;
    max-width: 1400px;
}

.vert-spacer {
    padding: 80px 0 80px 0;
}

/* Card */
.card {
    padding: 25px;
    background-color: #272727;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.15);
}

.card-header {
    font-weight: 500;
    font-size: 24px;
}

.card-body {
    margin-top: 20px;
}

/* Forms */
.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.form-group > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    margin: 10px;
}

.form-element {
    padding: 8px;
}

.form-label {
    margin-bottom: 6px;
    margin-left: 5px;
    font-weight: 500;
}

.form-field {
    padding: 8px 12px 8px 12px;
    border-radius: 5px;
    border: 2px solid #626262;
    background-color: #303030;
    outline: none;
    color: #eee;
    font-size: 14px;
    min-width: 200px;
}

.form-field:hover {
    border: 2px solid #eee;
    background-color: #373737;
}

.validation-error {
    color: red;
    font-weight: 400;
    margin-top: 7px;
    margin-left: 5px;
}

.h-field {
    display: none;
}

/* Buttons */
.btn-group-center {
    display: flex;
    justify-content: center;
}

.btn-tile {
    border: none;
    padding: 7px 13px 7px 13px;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .12rem;
    cursor: pointer;
}

.btn-blue {
    color: #eee;
    background-color: #006699;
}

.btn-blue:hover {
    background-color: #1472a1;
}

/* functional */
.text-end {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-uppercase {
    text-transform: uppercase;
}
