html, body {
    background-color: #181818;
    color: #eee;
    font-weight: 100;
    height: 100vh;
    width: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.width-1px {
    width: 1px;
}

.input-nostyle {
    outline: none;
}

#app-snack {
    position: fixed;
    left: 50%;
    margin-left: -200px;
    z-index: 102;
    height: 40px;
    width: 400px;
    background: linear-gradient(
        to right,
        rgba(0,0,0,0) 0%,
        rgba(255, 255, 255, 1) 12.5%,
        rgba(255, 255, 255, 1) 87.5%,
        rgba(0,0,0,0) 100%
    );
}

#routed-component {
    position:absolute;
    top: 40px;
    height: calc(100vh - 40px);
    width: 100%;
}

/* Layout */

.component-toolbar {
    position:absolute;
    top: 40px;
    height: 50px;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.component-toolbar-dialog {
    top: 30px;
    height: 50px;
    z-index: 100;
}

.component-content {
    position:absolute;
    top: 90px;
    height: calc(100vh - 90px);
    width: 100%;
    overflow-y: scroll;
}

.component-content-dialog {
    top: 80px;
    height: calc(100vh - 170px);
    width: 100%;
}

.component-content-dialog-small {
    top: 80px;
    height: calc(100vh - 240px);
    width: 100%;
}

.component-dialog {
    position: fixed;
    left: 25px;
    top: 65px;
    height: calc(100vh - 90px);
    width: calc(100% - 50px);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.67);
}

.component-dialog-small {
    left: 60px;
    top: 100px;
    height: calc(100vh - 160px);
    width: calc(100% - 120px);
}

.component-dialog-outline {
    outline: 1px solid #222;
}

.component-dialog-outline-dark {
    outline: 1px solid #999;
}

.component-dialog-sysbar {
    background-color: #222;
}

.component-dialog-sysbar-dark {
    background-color: #999;
}

.dialog-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 40px;
    width: 100vw;
    height: calc(100vh - 40px);
    overflow: hidden;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 41px;
    width: 100vw;
    height: calc(100vh - 41px);
    z-index: 199;
    background-color: rgba(0,0,0,0.34);
}

/*.component-toolbar-shadow {
    z-index: 99;
    width: 120%;
    left: -20px;
    z-index: 90;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.75);
}*/

.transition-width-350 {
    transition: width 350ms ease-out;
    -webkit-transition: width 350ms ease-out;
    -moz-transition: width 350ms ease-out;
    -ms-transition: width 350ms ease-out;
    -o-transition: width 350ms ease-out;
}
